@import url('https://fonts.googleapis.com/css?family=Archivo+Black');
@import url('https://fonts.googleapis.com/css?family=Archivo');

#output {
  display: none;
}

#background {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: -1;
}

.stretch {
  width: 100%;
  height: 100%;
}

.well {
  background-color: #efc062;
  margin-top: 5em;
  text-align: center;
  font-family: 'Archivo', sans-serif;
  opacity: 0.9;
}

.jumbotron {
  background-color: #efc062;
  margin-top: 5em;
  text-align: center;
  font-family: 'Archivo Black', sans-serif;
  opacity: 0.9;

}

.btn:hover {
  color: white;
  /*background-color: #2551ba;*/
  background-color: #880f8c;
}
