@import url('https://fonts.googleapis.com/css?family=Abril+Fatface');


#output {
  display: none;
}
/*body {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/5/53/Colosseum_in_Rome%2C_Italy_-_April_2007.jpg"); height: 200%;
  background-size: cover;
  background-repeat: no-repeat;
}*/

#background {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: -1;
}

.stretch {
  width: 100%;
  height: 100%;
}

.well, .jumbotron {
  background-color: #efc062;
  margin-left: 30em;
  text-align: center;
}

.jumbotron {
  text-align: center;
  font-family: 'Abril Fatface', cursive;
}

#numberInput {
  width: 50%;
  margin-left: 12em;
}

btn {
  color: 
}
